<?xml version="1.0" encoding="utf-8"?>
<settings>
  <enablehttpcompression>False</enablehttpcompression>
  <commentsperpage>10</commentsperpage>
  <htmlheader />
  <numberofreferrerdays>1</numberofreferrerdays>
  <trustauthenticatedusers>True</trustauthenticatedusers>
  <contactthankmessage>&lt;h1&gt;Thank you&lt;/h1&gt;&lt;p&gt;The message was sent.&lt;/p&gt;</contactthankmessage>
  <searchbuttontext>Search</searchbuttontext>
  <pageoptionsdescription>False</pageoptionsdescription>
  <blogrollvisibleposts>3</blogrollvisibleposts>
  <postoptionsslug>False</postoptionsslug>
  <feedauthor />
  <descriptioncharacters>300</descriptioncharacters>
  <enableenclosures>False</enableenclosures>
  <createblogonselfregistration>False</createblogonselfregistration>
  <disqusdevmode>False</disqusdevmode>
  <customfrontpage />
  <postoptionsdescription>False</postoptionsdescription>
  <blogrollmaxlength>23</blogrollmaxlength>
  <postoptionscustomfields>False</postoptionscustomfields>
  <geocodinglongitude>0</geocodinglongitude>
  <language>en-US</language>
  <showdescriptioninpostlistforpostsbytagorcategory>False</showdescriptioninpostlistforpostsbytagorcategory>
  <israzortheme>False</israzortheme>
  <iscommentsenabled>True</iscommentsenabled>
  <themecookiename>theme</themecookiename>
  <iscommentnestingenabled>True</iscommentnestingenabled>
  <showdescriptioninpostlist>False</showdescriptioninpostlist>
  <enablewebsiteincomments>False</enablewebsiteincomments>
  <commentreportmistakes>False</commentreportmistakes>
  <smtpserverport>25</smtpserverport>
  <enablepingbacksend>True</enablepingbacksend>
  <enabletrackbacksend>True</enabletrackbacksend>
  <facebooklanguage />
  <authorname>My name</authorname>
  <redirecttoremovefileextension>False</redirecttoremovefileextension>
  <enablepasswordreset>True</enablepasswordreset>
  <avatar>identicon</avatar>
  <enablessl>False</enablessl>
  <useblognameinpagetitles>True</useblognameinpagetitles>
  <iscocommentenabled>False</iscocommentenabled>
  <enablepingbackreceive>True</enablepingbackreceive>
  <enablecommentsearch>True</enablecommentsearch>
  <enableselfregistration>False</enableselfregistration>
  <pageoptionsslug>True</pageoptionsslug>
  <descriptioncharactersforpostsbytagorcategory>0</descriptioncharactersforpostsbytagorcategory>
  <contacterrormessage>&lt;p&gt;This form does not work at the moment. Sorry for the inconvenience.&lt;/p&gt;</contacterrormessage>
  <timezoneid>UTC</timezoneid>
  <requiresslmetaweblogapi>False</requiresslmetaweblogapi>
  <showpostnavigation>True</showpostnavigation>
  <description>Short description of the blog</description>
  <selfregistrationinitialrole>Editors</selfregistrationinitialrole>
  <sendmailoncomment>True</sendmailoncomment>
  <contactformmessage>&lt;p&gt;I'll answer the mail as soon as I can.&lt;/p&gt;</contactformmessage>
  <securityvalidationkey>ede308e723ae42aab289b04350133355accaa0f0da9743e7a8529a0cbbf5bceee5bcafc4eac741f68d2d63d80e21bf8e</securityvalidationkey>
  <errortitle>Ooops! An unexpected error has occurred.</errortitle>
  <geocodinglatitude>0</geocodinglatitude>
  <dayscommentsareenabled>0</dayscommentsareenabled>
  <postsperpage>10</postsperpage>
  <enablerating>True</enablerating>
  <email>name@example.com</email>
  <smtppassword>password</smtppassword>
  <trackingscript />
  <postsperfeed>3</postsperfeed>
  <enablereferrertracking>False</enablereferrertracking>
  <alternatefeedurl />
  <showlivepreview>True</showlivepreview>
  <remotefiledownloadtimeout>30000</remotefiledownloadtimeout>
  <allowservertodownloadremotefiles>True</allowservertodownloadremotefiles>
  <commentprovider>BlogEngine</commentprovider>
  <syndicationformat>Rss</syndicationformat>
  <disqusaddcommentstopages>False</disqusaddcommentstopages>
  <facebookappid />
  <enablecontactattachments>True</enablecontactattachments>
  <compresswebresource>False</compresswebresource>
  <name>Name of the blog</name>
  <culture>Auto</culture>
  <showincludecommentsoption>False</showincludecommentsoption>
  <errortext>This one's down to me! Please accept my apologies for this - I'll see to it that the developer responsible for this happening is given 20 lashes (but only after he or she has fixed this problem).</errortext>
  <searchdefaulttext>Enter search term or APML url</searchdefaulttext>
  <enablerelatedposts>True</enablerelatedposts>
  <pageoptionscustomfields>False</pageoptionscustomfields>
  <endorsement>http://www.dotnetblogengine.net/syndication.axd</endorsement>
  <smtpserver>mail.example.com</smtpserver>
  <enableopensearch>True</enableopensearch>
  <moderationtype>Auto</moderationtype>
  <emailsubjectprefix>Weblog</emailsubjectprefix>
  <disquswebsitename />
  <removeextensionsfromurls>True</removeextensionsfromurls>
  <timestamppostlinks>False</timestamppostlinks>
  <searchcommentlabeltext>Include comments in search</searchcommentlabeltext>
  <enableoptimization>False</enableoptimization>
  <blogrollupdateminutes>60</blogrollupdateminutes>
  <handlewwwsubdomain />
  <enablerecaptchaoncontactform>False</enablerecaptchaoncontactform>
  <smtpusername>username</smtpusername>
  <enabletagexport>True</enabletagexport>
  <remotemaxfilesize>524288</remotemaxfilesize>
  <enablecommentsmoderation>True</enablecommentsmoderation>
  <theme>Standard-2017</theme>
  <enablecountryincomments>False</enablecountryincomments>
  <enabletrackbackreceive>True</enabletrackbackreceive>
</settings>